doctype html
html(lang='en')
    head
        link(rel='stylesheet' href='../css/main.css')
        link(rel='stylesheet' href='../css/tileMap.css')
        link(rel='stylesheet' href='../css/toolBar.css')
    body
        #root
        script(src='../js/bundle.js')
