#tileMap {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow: auto;
  user-select: none;
}
.tile {
  background-color: #ccc;
  display: inline-block;
  margin-right: 1px;
  background-repeat: no-repeat;
}
.row {
  white-space: nowrap;
}
