form
	max-width 70%
td
	box-sizing border-box
th
	text-align left
	padding-right 10px
input
	box-sizing: border-box
	width 100%
	padding 2px 5px
tr:first-child td:last-child
	padding-left 10px
button
	margin-top 5px
	float right
.clear
	clear both
